{# specifies the overall style #}
<style type="text/css">
tr
{
    font-family: Sans;
    font-size: 10;
}
td
{
    padding:2px 8px 2px 8px; {# space between rows and columns #}
    font-family: Sans;
    font-size: 10;
}
</style>

{# big table of cages #}
<table border="0" style="text-align: center; border-collapse: collapse">
    {# header row #}
    <tr>
        <th>cage</th>
        <th>mouse</th>
        <th>sex</th>
        <th>genotype</th>
        <th>DOB</th>
        <th>age</th>
        <th>needs</th>
        <th>notes</th>
    </tr>
    
    {# iterate over every cage #}
    {% for cage in object_list %}
        {% if not cage.defunct %}
            {# loop over mice in the cage, with a border above the first one #}
            {% for mouse in cage.mouse_set.all %}
            <tr {% if forloop.counter0 == 0%} style="border-top: thin solid" {% endif %}>
                {# The first column is Cage Detail, and it has a certain #}
                {# number of lines of info regardless of the number of mice #}
                <td> 
                    {# First line: cage name and proprietor #}
                    {% if forloop.counter0 == 0 %} 
                        <b>{{ cage.name }}</b> [{{cage.proprietor }}]
                    {% endif %} 
                    
                    {# Second line: litter info, if any #}
                    {% if forloop.counter0 == 1 and cage.litter and not cage.litter.date_weaned %} 
                        Litter {{ cage.litter }} 
                    {% endif %}   
                    
                    {# Third line: target genotype, if any #}
                    {% if forloop.counter0 == 2 and cage.target_genotype %}
                        {{ cage.target_genotype }} 
                    {% endif %}                       
                </td>
                
                {# These columns are specific to each mouse #}
                {# Colorize the mouse name for breeding mothers and fathers #}
                {% if mouse.can_be_breeding_mother %}
                    <td><font color='red'>{{ mouse.name }}</font></td>
                {% elif mouse.can_be_breeding_father %}
                    <td><font color='blue'>{{ mouse.name }}</font></td>
                {% elif mouse.still_in_breeding_cage %}
                    <td>{{ mouse.name }}</td>
                {% else %}
                    <td>{{ mouse.name }}</td>
                {% endif %}
                
                {# print sex, genotype, dob #}
                <td>{{ mouse.get_sex_display }}</td>
                <td>{{ mouse.genotype }}</td>
                <td>{{ mouse.dob|date:"Y-m-d" }}</td>
                <td>{% if mouse.age %} {{ mouse.age }} {% endif %}</td>
                
                {# print needs for first mouse in cage #}
                {% if forloop.counter0 == 0 and cage.needs %}
                    <td>{{ cage.needs }} on {{ cage.need_date|date:"m-d" }}</td>
                {% else %}
                    <td />
                {% endif %}
                
                {# print notes for first mouse in cage #}
                {% if forloop.counter0 == 0 %}
                    <td>{{ cage.notes }}</td>
                {% else %}
                    <td />
                {% endif %}                
            </tr>
            {% endfor %} {# for mouse in cage.mouse_set.all #}


            {# This is kind of a hack: #}
            {# If there are fewer mice in the cage than there are lines #}
            {# of cage detail in the first column, then add them here #}
            {# because the mouse_set iteration will have finished too soon. #}
            {# This is just copied out from the above loop. #}
            {# First line: cage name and proprietor #}
            {% if cage.n_mice == 0 %}
                <tr>
                    <td>
                        <b>{{ cage.name }}</b> [{{cage.proprietor }}]
                    </td>
                </tr>
            {% endif %} 

            {# Second line: litter info #}
            {% if cage.n_mice <= 1 %}
                <tr>
                    <td>
                        {% if cage.litter and not cage.litter.date_weaned %} 
                            Litter {{ cage.litter }} 
                        {% endif %}               
                    </td>
                </tr>
            {% endif %}
            
            {# Third line: target genotype #}
            {% if cage.n_mice <= 2 %}
                <tr>
                    <td>
                        {% if cage.target_genotype %}
                            {{ cage.target_genotype }} 
                        {% endif %}                   
                    </td>
                </tr>            
            {% endif %}


        {% endif %} {# if not cage.defunct #}
    {% endfor %} {# for cage in object.list #}
</table>
    
